<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/bb768b97-0bd7-4961-98df-dd8a7cbb4229/resourcegroups/aspAzureChallengeApp20220513225208ResourceGroup/providers/Microsoft.Web/sites/aspAzureChallengeApp20220513225208</ResourceId>
    <ResourceGroup>aspAzureChallengeApp20220513225208ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://aspazurechallengeapp20220513225208.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>93c133ca-6b84-4992-92d3-43c773853a0c</ProjectGuid>
    <PublishUrl>https://aspazurechallengeapp20220513225208.scm.azurewebsites.net/</PublishUrl>
    <UserName>$aspAzureChallengeApp20220513225208</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>